<section class="container">
    <section class="cntr-link">
        <h1>Link de pago personalizado</h1>
        <form action="">
            <p>Descripción del link</p>
            <input type="text" placeholder="Link carvajal">
            <figure></figure>
            <h2>Datos del beneficiario</h2>
            <div>
                <article>
                    <p>Número de documento</p>
                    <input type="number" placeholder="1133224456">
                </article>
                <article>
                    <p>Nombre completo</p>
                    <input type="text" placeholder="Inserte nombre">
                </article>
            </div>
            <div>
                <article>
                    <p>Correo electrónico</p>
                    <input type="email" placeholder="Inserte correo electrónico">
                </article>
                <article>
                        <p>Celular</p>
                        <input type="text" placeholder="3134567890">
                </article>
            </div>
            <figure></figure>
            <h2>Información de la compra</h2>
            <div>
                <article>
                    <p>Valor unitario</p>
                    <input type="number" placeholder="Inserte valor unitario">
                </article>
                <article>
                    <p>Cantidad</p>
                    <input type="number">
                </article>
            </div>
        </form>
        <div>
            <button type="button">Cancelar</button>
            <button type="submit">Guardar</button>
        </div>
    </section>
    <section class="cntr-info-link">
        <div>
            <div>
                <h1>Link de pago Carvajal</h1>
            </div>
            <div>
                <section>
                    <article>
                        <h2>Datos del beneficiario</h2>
                    </article>
                    <article>
                        <p>Carvajal</p>
                        <span>Nit 806.983.439-4</span>
                    </article>
                </section>
                <section>
                    <article>
                        <h2>Cantidad</h2>
                    </article>
                    <article>
                        <p>10</p>
                    </article>
                </section>
                <section>
                    <article>
                        <h2>Valor Total</h2>
                    </article>
                    <article>$1.200.000</article>
                </section>
            </div>
        </div>
        <button type="button">Aceptar</button>
    </section>
</section>