<app-navbar></app-navbar>
<section class="space">
    <section class="banner">
        <img src="assets/img/Rectangle.png" alt="">
        <h2>Links de pagos activos</h2>
    </section>
    <section class="button">
        <select name="" id="">
            <option value="todas" selected>Todas</option>
            <option value="no-vigente">No Vigente</option>
            <option value="vigente">Vigente</option>
        </select>
        <a href="/private/adminEvent/createEvent"><button>Crear nuevo link</button></a>
    </section>
    <section class="container-events">
        <section class="events">
            <app-card-event></app-card-event>
            <app-card-event></app-card-event>
            <app-card-event></app-card-event>
            <app-card-event></app-card-event>
            <app-card-event></app-card-event>
        </section>
    </section>
</section>